/* ---- Global styles ---- */

/* CSS Reset */
* {
    box-sizing: border-box;
}

/* Body styles. DO NOT REMOVE OR EDIT UNLESS ABSOLUTELY NECESSARY */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 0;
    margin: 0;
    color: #333;
    padding-top: 30px;
}

/* Disclaimer styles. DO NOT REMOVE OR EDIT UNLESS ABSOLUTELY NECESSARY */
.disclaimer {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 0.5rem;
    z-index: 1000;
    font-weight: bold;
    height: 50px;
}

/* ---- Your custom styles below ---- */




/* css styles to format the HTML table */

table {
    width: 50%;
    border-collapse: collapse;
    padding: 12px 20px;
    margin: 4px 0;
    float: left;
}

th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ffffff;
    background-color: #e4e4e4;
}

th {
    background-color: #d52b1e;
    color: white
}




/*Styles for the input boxes*/

input {
    width: 30%;
    padding: 12px 20px;
    margin: 2px 0;
    box-sizing: border-box;
    border-radius: 4px;
}

input:focus {
    border: 3px solid #555;
}




/*styles for the submit button*/
button {
    background-color: #d52b1e; color: white; 
    transition-duration: 0.4s;
    font-family: Arial, sans-serif;
    border-color: transparent;
    border-radius: 4px;
  }
  
button:hover {
    background-color: #f7b3b3; 
    color: black;
    cursor: pointer;
  }



/*styles for the input sections to group and position*/

group {
    float: left;
    padding: 40px 40px;
}



/*making important text bold and underlined*/

p1 {
    text-decoration-line: underline;
    font-weight: bold;
}
